<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unique.fancysherry.shr">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:name=".util.config.SApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_login"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/FullScreenTheme" />
        <activity android:name=".ui.activity.ShareUrlActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ShrContentActivity"
            android:label="@string/title_activity_shr_content"
            android:theme="@style/ToolbarTheme" />
        <activity
            android:name=".ui.activity.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/ToolbarTheme" />
        <activity
            android:name=".ui.activity.GroupActivity"
            android:label="@string/title_activity_group"
            android:theme="@style/TranslucentStatusTheme" />
        <activity
            android:name=".ui.activity.BrowserActivity"
            android:label="@string/title_activity_browser"
            android:theme="@style/WebViewTheme" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.CommentActivity"
            android:label="@string/title_activity_comment"
            android:theme="@style/ToolbarTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.UserInformationResetActivity"
            android:label="@string/title_activity_user_information_reset"
            android:theme="@style/ToolbarTheme" />
        <activity
            android:name=".ui.activity.GroupMemberDeleteActivity"
            android:label="@string/title_activity_group_member"
            android:theme="@style/ToolbarTheme" />
        <activity
            android:name=".ui.activity.InviteMemberActivity"
            android:label="@string/title_activity_invite_member"
            android:theme="@style/ToolbarTheme" />
        <activity
            android:name=".ui.activity.GroupEditActivity"
            android:label="@string/title_activity_group_manage"
            android:theme="@style/ToolbarTheme" />
        <activity
            android:name=".ui.activity.DeleteGroupActivity"
            android:label="@string/title_activity_delete_group"
            android:theme="@style/ToolbarTheme" />
        <activity
            android:name=".ui.activity.GroupChangeManagerActivity"
            android:label="@string/title_activity_group_change_manager"
            android:theme="@style/ToolbarTheme" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:theme="@style/ToolbarTheme" />

        <service
            android:name=".sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".ui.activity.GroupMemberActivity"
            android:theme="@style/ToolbarTheme" />

        <service
            android:name=".sync.NotificationService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
