<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unique.fancysherry.shr" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:name=".util.config.SApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ShareUrlActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ShrContentActivity"
            android:theme="@style/UserActivityTheme"
            android:label="@string/title_activity_shr_content" >
        </activity>
        <activity
            android:name=".ui.activity.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/UserActivityTheme"
            >
        </activity>
        <activity
            android:name=".ui.activity.GroupActivity"
            android:theme="@style/UserActivityTheme"
            android:label="@string/title_activity_group" >
        </activity>
        <activity
            android:name=".ui.activity.ReviewActivity"
            android:theme="@style/UserActivityTheme"
            android:label="@string/title_activity_review" >
        </activity>
        <activity
            android:name=".ui.activity.ArticleActivity"
            android:theme="@style/UserActivityTheme"
            android:label="@string/title_activity_article" >
        </activity>
        <activity
            android:name=".ui.activity.BrowserActivity"
            android:theme="@style/UserActivityTheme"
            android:label="@string/title_activity_browser" >
        </activity>

        <service
            android:name=".sync.SyncService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity android:name=".ui.activity.MainActivity"
                  android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.activity.CommentActivity"
            android:theme="@style/UserActivityTheme"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".ui.activity.UserInformationResetActivity"
            android:theme="@style/UserActivityTheme"
            android:label="@string/title_activity_user_information_reset" >
        </activity>
        <activity
            android:name=".ui.activity.GroupMemberActivity"
            android:theme="@style/UserActivityTheme"
            android:label="@string/title_activity_group_member" >
        </activity>
        <activity
            android:name=".ui.activity.InviteMemberActivity"
            android:theme="@style/UserActivityTheme"
            android:label="@string/title_activity_invite_member" >
        </activity>
        <activity
            android:name=".ui.activity.GroupManageActivity"
            android:theme="@style/UserActivityTheme"
            android:label="@string/title_activity_group_manage" >
        </activity>
        <activity
            android:name=".ui.activity.DeleteGroupActivity"
            android:theme="@style/UserActivityTheme"
            android:label="@string/title_activity_delete_group" >
        </activity>
        <activity
            android:name=".ui.activity.GroupChangeManagerActivity"
            android:theme="@style/UserActivityTheme"
            android:label="@string/title_activity_group_change_manager" >
        </activity>
    </application>

</manifest>
